**0. Preliminary Works:** how big is the file,number of lines, etc.<br>
**1. Prepare sample file:** create small file to work with.<br>
**2. Study the Data**<br>
**3. Select Columns of Interest**<br>
**4. Data Cleaning**<br>
    4.1. What to do with NaN<br>
    4.2. Make an action plan<br>
**5. Visualization**<br>
**6. Modelling**<br>
**7. Evaluation**<br>
**FINAL: Adjust the code to work with Big data**<br>
    5.1. Create an ITERATOR from the data base and define CHUNK size <br>
    5.2. Test Big Data approach on a sample

# 0. Premilinary Works
How big is the file, number of rows, etc.

In [5]:
!ls -Rl
# 2017_Yellow_Taxi_Trip_Data.csv is 10.532.305.815 bytes (9,80 GB)

.:
total 3504
drwxrwxrwx 1 angelrps angelrps     512 Apr  1 12:26 Data
-rwxrwxrwx 1 angelrps angelrps   42975 Apr  1 13:29 Data_Analysis.ipynb
-rw-rw-rw- 1 angelrps angelrps   10144 Apr  1 12:33 HowToTackleDataScienceChallenge.ipynb
-rwxrwxrwx 1 angelrps angelrps 3527394 Mar 25 13:10 TSA.ipynb

./Data:
total 10960576
-rwxrwxrwx 1 angelrps angelrps 10532305815 Mar 25 13:15  2017_Yellow_Taxi_Trip_Data.csv
-rwxrwxrwx 1 angelrps angelrps          83 Mar 25 12:21  reserva_paradas_taxis.txt
-rwxrwxrwx 1 angelrps angelrps       51576 Mar 25 11:59 'reserva_paradas_taxis_NO SIRVE NO HAY DATOS SUFICIENTES POR AÑ.csv'
-rwxrwxrwx 1 angelrps angelrps     2686710 Mar 26 09:30  taxi_pickups.pdf
-rwxrwxrwx 1 angelrps angelrps     1489310 Mar 26 09:30  taxi_zone_map_manhattan.jpg
-rwxrwxrwx 1 angelrps angelrps   687088084 Mar 25 12:41  yellow_tripdata_2019-01.csv

In [7]:
# count lines
!wc -l ./Data/2017_Yellow_Taxi_Trip_Data.csv
# the file has 113.496.875 lines

113496875 ./Data/2017_Yellow_Taxi_Trip_Data.csv

In [12]:
!head -5 ./Data/2017_Yellow_Taxi_Trip_Data.csv
# There is a header
# And the separator is ','

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
2,06/14/2017 05:04:21 PM,06/14/2017 05:08:02 PM,1,0.56,1,N,237,162,1,4.5,1,0.5,1.58,0,0.3,7.88
2,06/14/2017 05:04:22 PM,06/14/2017 05:56:45 PM,5,10.75,1,N,138,230,1,38.5,1,0.5,9.21,5.76,0.3,55.27
2,06/14/2017 05:04:22 PM,06/14/2017 05:16:22 PM,2,1.83,1,N,75,237,1,10,1,0.5,1,0,0.3,12.8
2,06/14/2017 05:04:22 PM,06/14/2017 05:20:47 PM,1,1.85,1,N,237,48,1,12,1,0.5,2.76,0,0.3,16.56

# 1. Prepare sample file
I will take 100.000 for the sample file out of the 113 million lines of the file

In [13]:
import pandas as pd
import random

#TAKING RANDOM SAMPLE OF 100.000 ROWS
p = 0.01 # take one percent of total rows
dsample = pd.read_csv('./Data/2017_Yellow_Taxi_Trip_Data.csv',sep=',',header=0,
                        skiprows=lambda i: i>0 and random.random() > p)

In [22]:
# CREATE SAMPLE DATASET WITH 100 LINES

# with header
#!shuf -n 100 ./Data/2017_Yellow_Taxi_Trip_Data.csv > ./Data/sample100.csv

# without header
#!tail -n +2 ./Data/2017_Yellow_Taxi_Trip_Data.csv | shuf -n 100 > ./Data/sample100.csv

/bin/sh: 1: nOfRows: not found
shuf: invalid line count: ‘nOfRows’

In [18]:
dsample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1135356 entries, 0 to 1135355
Data columns (total 17 columns):
VendorID                 1135356 non-null int64
tpep_pickup_datetime     1135356 non-null object
tpep_dropoff_datetime    1135356 non-null object
passenger_count          1135356 non-null int64
trip_distance            1135356 non-null float64
RatecodeID               1135356 non-null int64
store_and_fwd_flag       1135356 non-null object
PULocationID             1135356 non-null int64
DOLocationID             1135356 non-null int64
payment_type             1135356 non-null int64
fare_amount              1135356 non-null float64
extra                    1135356 non-null float64
mta_tax                  1135356 non-null float64
tip_amount               1135356 non-null float64
tolls_amount             1135356 non-null float64
improvement_surcharge    1135356 non-null float64
total_amount             1135356 non-null float64
dtypes: float64(8), int64(6), object(3)
memory usage: 147.3+ MB

In [25]:
# check dates
# !head -50 yellow_tripdata_2019-01.csv | sort -t "," -k 2,2 | head
!sort -t "," -k 2,2 yellow_tripdata_2019-01.csv | head -50

sort: write failed: 'standard output': Broken pipe
sort: write error

In [24]:
!sort -t "," -k 2,2 yellow_tripdata_2019-01.csv | tail

In [32]:
Jan = pd.read_csv('yellow_tripdata_2019-01.csv', parse_dates = ["tpep_pickup_datetime"])
Jan

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667787,2,2019-01-31 23:57:36,2019-02-01 00:18:39,1,4.79,1,N,263,4,1,18.0,0.5,0.5,3.86,0.0,0.3,23.16,0.0
7667788,2,2019-01-31 23:32:03,2019-01-31 23:33:11,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667789,2,2019-01-31 23:36:36,2019-01-31 23:36:40,1,0.00,1,N,264,264,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667790,2,2019-01-31 23:14:53,2019-01-31 23:15:20,1,0.00,1,N,264,7,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
7667791,2,2019-01-31 23:12:49,2019-01-31 23:14:08,1,0.00,1,N,193,193,1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

In [33]:
Jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 18 columns):
VendorID                 int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    object
passenger_count          int64
trip_distance            float64
RatecodeID               int64
store_and_fwd_flag       object
PULocationID             int64
DOLocationID             int64
payment_type             int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtypes: datetime64[ns](1), float64(9), int64(6), object(2)
memory usage: 1.0+ GB

In [29]:
Jan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [42]:
Jan["tpep_pickup_DAY"] = Jan["tpep_pickup_datetime"].dt.date
j = Jan.sort_values("tpep_pickup_DAY").groupby("tpep_pickup_DAY")
j.shape()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,tpep_pickup_DAY
2557757,2,2001-02-02 14:55:07,2001-02-02 15:07:27,1,0.00,1,N,193,193,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,NaN,2001-02-02
42118,2,2003-01-01 00:05:12,2003-01-01 00:05:12,1,0.00,1,N,264,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,2003-01-01
42119,2,2003-01-01 00:15:01,2003-01-01 00:15:05,6,0.00,1,N,264,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,2003-01-01
3965170,2,2008-12-31 23:03:13,2008-12-31 23:17:47,1,1.50,1,N,246,230,2,10.5,0.0,0.5,0.00,0.0,0.3,11.30,NaN,2008-12-31
6008140,2,2008-12-31 23:04:37,2009-01-01 17:36:02,1,0.59,1,N,237,163,1,6.5,1.0,0.5,1.00,0.0,0.3,9.30,0.0,2008-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2872960,2,2019-07-23 01:32:57,2019-07-23 01:51:51,1,3.13,1,N,148,234,1,14.5,0.5,0.5,3.16,0.0,0.3,18.96,NaN,2019-07-23
2880059,2,2019-08-13 09:02:46,2019-08-13 09:28:01,2,5.37,1,N,114,181,2,21.5,0.5,0.5,0.00,0.0,0.3,22.80,NaN,2019-08-13
2884719,2,2019-09-03 17:03:08,2019-09-03 17:06:23,1,0.64,1,N,148,79,1,4.5,0.5,0.5,1.00,0.0,0.3,6.80,NaN,2019-09-03
4157519,2,2088-01-24 00:15:42,2088-01-24 00:19:46,1,0.63,1,N,41,166,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30,NaN,2088-01-24
4165194,2,2088-01-24 00:25:39,2088-01-24 07:28:25,1,4.05,1,N,24,162,2,14.5,0.0,0.5,0.00,0.0,0.3,15.30,NaN,2088-01-24

In [47]:
j.size()

tpep_pickup_DAY
2001-02-02         1
2003-01-01         2
2008-12-31        22
2009-01-01        50
2018-11-28        10
2018-11-29         1
2018-12-21         1
2018-12-30         9
2018-12-31       345
2019-01-01    189035
2019-01-02    197852
2019-01-03    222879
2019-01-04    235053
2019-01-05    236041
2019-01-06    208194
2019-01-07    227762
2019-01-08    236155
2019-01-09    254671
2019-01-10    280648
2019-01-11    290607
2019-01-12    264567
2019-01-13    226924
2019-01-14    244102
2019-01-15    266135
2019-01-16    271419
2019-01-17    283409
2019-01-18    265782
2019-01-19    235790
2019-01-20    202739
2019-01-21    192370
2019-01-22    253977
2019-01-23    259948
2019-01-24    280805
2019-01-25    291288
2019-01-26    271393
2019-01-27    219762
2019-01-28    239921
2019-01-29    258533
2019-01-30    275770
2019-01-31    283724
2019-02-01        63
2019-02-02         3
2019-02-04         2
2019-02-13         1
2019-02-23         1
2019-02-25         2
2019-03-17         2
2019-03-19         3
2019-04-07         1
2019-04-09         2
2019-04-28         3
2019-05-20         1
2019-06-10         2
2019-07-01         5
2019-07-23         1
2019-08-13         1
2019-09-03         1
2088-01-24         2
dtype: int64