# 0. Premilinary Works
How big is the file, number of rows, etc.

In [3]:
cd ../data

/home/angelrps/git/MasterDataScience_FinalProject/data

In [4]:
!ls -Rl
# 2017_Yellow_Taxi_Trip_Data.csv is 10532305815 bytes (9,80 GB)
# 2018_Yellow_Taxi_Trip_Data.csv is 10428263736 bytes (9,71 GB)
# 2019_Yellow_Taxi_Trip_Data.csv is 8197837930 bytes (7,63 GB)

.:
total 2897760
-rwxrwxrwx 1 angelrps angelrps 1048588401 Mar 25 13:15 2017_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps 1065918551 Jun 18 12:58 2018_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps  835929368 Apr  2 18:02 2019_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps     564780 Jun 18 11:15 Data_Weather_Cleaned.csv
-rwxrwxrwx 1 angelrps angelrps     436485 Jun 16 10:51 LCD_documentation.pdf
-rwxrwxrwx 1 angelrps angelrps   13843633 Jun 16 09:40 NOAA_CentralPark_Weather.csv
-rwxrwxrwx 1 angelrps angelrps     196848 Apr  7 19:34 data_dictionary_trip_records_yellow.pdf
-rwxrwxrwx 1 angelrps angelrps    1489310 Apr  7 19:34 taxi_zone_map_manhattan.jpg
-rwxrwxrwx 1 angelrps angelrps     202694 Apr  4 12:46 trip_record_user_guide.pdf

In [4]:
# I am dealing with very heavy files so I will compress them (bz2) to work with them
# and remove the heavy .csv from my drive
!bzip2 2017_Yellow_Taxi_Trip_Data.csv 2018_Yellow_Taxi_Trip_Data.csv 2019_Yellow_Taxi_Trip_Data.csv

In [5]:
!ls -Rl

.:
total 2897760
-rwxrwxrwx 1 angelrps angelrps 1048588401 Mar 25 13:15 2017_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps 1065918551 Jun 18 12:58 2018_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps  835929368 Apr  2 18:02 2019_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps     564780 Jun 18 11:15 Data_Weather_Cleaned.csv
-rwxrwxrwx 1 angelrps angelrps     436485 Jun 16 10:51 LCD_documentation.pdf
-rwxrwxrwx 1 angelrps angelrps   13843633 Jun 16 09:40 NOAA_CentralPark_Weather.csv
-rwxrwxrwx 1 angelrps angelrps     196848 Apr  7 19:34 data_dictionary_trip_records_yellow.pdf
-rwxrwxrwx 1 angelrps angelrps    1489310 Apr  7 19:34 taxi_zone_map_manhattan.jpg
-rwxrwxrwx 1 angelrps angelrps     202694 Apr  4 12:46 trip_record_user_guide.pdf

In [8]:
# Count Number of Lines
!zgrep -c $ 2017_Yellow_Taxi_Trip_Data.csv.bz2
!zgrep -c $ 2018_Yellow_Taxi_Trip_Data.csv.bz2
!zgrep -c $ 2019_Yellow_Taxi_Trip_Data.csv.bz2

# 2017_...10.748.623 lines
# 2018_...10.734.230 lines
# 2019_...8.402.723 lines

10748623
10734230
8402723

#### I will start exploring the 2019 dataset
I will try to use bash to clean the data as much as I can before importing a Data Frame because I believe is faster.
From a previous exploration I concluded:
1. There are trips with 0 'trip_distance'. I will remove all trips with 'trip_distance' < 0.06 (100 meters) because I consider them either measurement errors or non representative data.
2. There are trips with either negative or very little 'fare_amount' (~0.01). I will remove rows with fare amount<1$ because I consider them measurement errors.

In [11]:
!bzcat ./2019_Yellow_Taxi_Trip_Data.csv.bz2 | head -n 5

# Conclusions:
# 1. There is a header on the first line
# 2. The separator is ','

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1,04/29/2019 11:31:03 AM,04/29/2019 11:31:03 AM,1,0,1,N,231,264,2,2.5,2.5,0.5,0,0,0.3,5.8,2.5
2,04/29/2019 10:52:08 AM,04/29/2019 11:06:18 AM,1,1.01,1,N,186,230,1,10,0,0.5,2.66,0,0.3,15.96,2.5
2,04/29/2019 11:28:40 AM,04/29/2019 11:33:01 AM,1,0.82,1,N,238,151,1,5,0,0.5,1.66,0,0.3,9.96,2.5
1,04/29/2019 11:28:06 AM,04/29/2019 12:07:32 PM,1,12.1,1,N,138,88,1,38.5,2.5,0.5,10.4,0,0.3,52.2,2.5

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./2019_Yellow_Taxi_Trip_Data.csv.bz2, output file = (stdout)

In [1]:
# LOAD LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [21]:
# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

(9999, 18)

In [34]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all trips with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)
dfsample[dfsample['trip_distance']<0.06].index # this should be none

Int64Index([], dtype='int64')

In [52]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all rows with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)

# 3. Remove rows with 'fare_amount' negative or <1$ because I consider them measurement errors or non relevant.
FareIndex_to_drop = dfsample[dfsample['fare_amount']<0.01].index
dfsample.drop(FareIndex_to_drop, inplace=True)
dfsample[dfsample['fare_amount']<0.01] # this should be none

Empty DataFrame
Columns: [pickup_datetime, VendorID, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [63]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all rows with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)

# 3. Remove rows with 'fare_amount' negative or <1$ because I consider them measurement errors or non relevant.
FareIndex_to_drop = dfsample[dfsample['fare_amount']<0.01].index
dfsample.drop(FareIndex_to_drop, inplace=True)

# 4. Select columns of interest.
#    'pickup_datetime'
#    'PULocationID'
dfsample = dfsample[['pickup_datetime','PULocationID']]
dfsample.head()

      pickup_datetime  PULocationID
1 2019-04-29 10:52:08           186
2 2019-04-29 11:28:40           238
3 2019-04-29 11:28:06           138
4 2019-04-29 11:39:32           138
5 2019-04-29 11:06:45           141

In [140]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all rows with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)

# 3. Remove rows with 'fare_amount' negative or <1$ because I consider them measurement errors or non relevant.
FareIndex_to_drop = dfsample[dfsample['fare_amount']<0.01].index
dfsample.drop(FareIndex_to_drop, inplace=True)

# 4. Select columns of interest.
#    'pickup_datetime'
#    'PULocationID'
dfsample = dfsample[['pickup_datetime','PULocationID']]

# 5. Set timestamp as index to visualize time series
#dfsample.set_index('pickup_datetime', inplace=True)

# 6. Convert the DATE in PERIODS of 1 hour
#dfsample = dfsample.to_period("H")
#dfsample.head()

In [13]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all rows with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)

# 3. Remove rows with 'fare_amount' negative or <1$ because I consider them measurement errors or non relevant.
FareIndex_to_drop = dfsample[dfsample['fare_amount']<0.01].index
dfsample.drop(FareIndex_to_drop, inplace=True)

# 4. Select columns of interest.
#    'pickup_datetime'
#    'PULocationID'
dfsample = dfsample[['pickup_datetime','PULocationID']]

# 5. Set timestamp as index to visualize time series
dfsample.set_index('pickup_datetime', inplace=True)

# 6. Convert the DATE in PERIODS of 1 hour
dfsample = dfsample.to_period("H")
dfsample.head()

# 7. Sort by datetime and by Location
dfsample.sort_values(['pickup_datetime', 'PULocationID'], inplace=True)
dfsample.head(100)

                  PULocationID
pickup_datetime
2019-04-29 05:00            90
2019-04-29 06:00            68
2019-04-29 06:00            88
2019-04-29 06:00           107
2019-04-29 06:00           113
2019-04-29 06:00           125
2019-04-29 06:00           132
2019-04-29 06:00           138
2019-04-29 06:00           236
2019-04-29 06:00           237
2019-04-29 07:00            68
2019-04-29 07:00           113
2019-04-29 07:00           162
2019-04-29 07:00           237
2019-04-29 08:00            79
2019-04-29 08:00           234
2019-04-29 08:00           237
2019-04-29 09:00            75
2019-04-29 09:00           236
2019-04-29 10:00            13
2019-04-29 10:00            43
2019-04-29 10:00            43
2019-04-29 10:00            43
2019-04-29 10:00            43
2019-04-29 10:00            45
2019-04-29 10:00            48
2019-04-29 10:00            68
2019-04-29 10:00            68
2019-04-29 10:00            68
2019-04-29 10:00            79
2019-04-29 10:00            82
2019-04-29 10:00            90
2019-04-29 10:00           100
2019-04-29 10:00           100
2019-04-29 10:00           100
2019-04-29 10:00           107
2019-04-29 10:00           107
2019-04-29 10:00           107
2019-04-29 10:00           107
2019-04-29 10:00           113
2019-04-29 10:00           113
2019-04-29 10:00           125
2019-04-29 10:00           132
2019-04-29 10:00           132
2019-04-29 10:00           137
2019-04-29 10:00           137
2019-04-29 10:00           138
2019-04-29 10:00           138
2019-04-29 10:00           138
2019-04-29 10:00           138
2019-04-29 10:00           138
2019-04-29 10:00           140
2019-04-29 10:00           140
2019-04-29 10:00           140
2019-04-29 10:00           140
2019-04-29 10:00           141
2019-04-29 10:00           141
2019-04-29 10:00           142
2019-04-29 10:00           142
2019-04-29 10:00           142
2019-04-29 10:00           142
2019-04-29 10:00           158
2019-04-29 10:00           161
2019-04-29 10:00           161
2019-04-29 10:00           162
2019-04-29 10:00           162
2019-04-29 10:00           163
2019-04-29 10:00           163
2019-04-29 10:00           163
2019-04-29 10:00           163
2019-04-29 10:00           163
2019-04-29 10:00           163
2019-04-29 10:00           164
2019-04-29 10:00           164
2019-04-29 10:00           164
2019-04-29 10:00           166
2019-04-29 10:00           170
2019-04-29 10:00           170
2019-04-29 10:00           170
2019-04-29 10:00           170
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           186
2019-04-29 10:00           211
2019-04-29 10:00           211
2019-04-29 10:00           229
2019-04-29 10:00           229
2019-04-29 10:00           229
2019-04-29 10:00           230
2019-04-29 10:00           230
2019-04-29 10:00           230
2019-04-29 10:00           231
2019-04-29 10:00           233
2019-04-29 10:00           234
2019-04-29 10:00           234
2019-04-29 10:00           234

In [20]:
# I WILL SUMMARIZE ALL STEPS IN EACH CELL

# 1. Prepare sample file with 10.000 rows
#    Parse 'tpep_pickup_datetime' column to datetime object type
dfsample = pd.read_csv('./2019_Yellow_Taxi_Trip_Data.csv.bz2', sep=',', nrows=9999,
                      parse_dates={'pickup_datetime':['tpep_pickup_datetime']})
dfsample.shape

# 2. Remove all rows with 'trip_distance' < 0.06 (100m) because I consider them measurement errors or non representative values
DistIndex_to_drop = dfsample[dfsample['trip_distance'] < 0.06].index
dfsample.drop(DistIndex_to_drop, inplace=True)

# 3. Remove rows with 'fare_amount' negative or <1$ because I consider them measurement errors or non relevant.
FareIndex_to_drop = dfsample[dfsample['fare_amount']<0.01].index
dfsample.drop(FareIndex_to_drop, inplace=True)

# 4. Select columns of interest.
#    'pickup_datetime'
#    'PULocationID'
dfsample = dfsample[['pickup_datetime','PULocationID']]

# 5. Set timestamp as index to visualize time series
dfsample.set_index('pickup_datetime', inplace=True)

# 6. Convert the DATE in PERIODS of 1 hour
dfsample = dfsample.to_period("H")
dfsample.head()

# 7. Sort by datetime and by Location
dfsample.sort_values(['pickup_datetime', 'PULocationID'], inplace=True)
dfsample.head(100)

# 8. Create new column to count Number of Pickups per zone
dfsample['NoOfPickups'] =1

In [22]:
dfsample=dfsample.groupby(['pickup_datetime', 'PULocationID'])['NoOfPickups'].sum().reset_index()
dfsample

      pickup_datetime  PULocationID  NoOfPickups
0    2019-04-29 05:00            90            1
1    2019-04-29 06:00            68            1
2    2019-04-29 06:00            88            1
3    2019-04-29 06:00           107            1
4    2019-04-29 06:00           113            1
5    2019-04-29 06:00           125            1
6    2019-04-29 06:00           132            1
7    2019-04-29 06:00           138            1
8    2019-04-29 06:00           236            1
9    2019-04-29 06:00           237            1
10   2019-04-29 07:00            68            1
11   2019-04-29 07:00           113            1
12   2019-04-29 07:00           162            1
13   2019-04-29 07:00           237            1
14   2019-04-29 08:00            79            1
15   2019-04-29 08:00           234            1
16   2019-04-29 08:00           237            1
17   2019-04-29 09:00            75            1
18   2019-04-29 09:00           236            1
19   2019-04-29 10:00            13            1
20   2019-04-29 10:00            43            4
21   2019-04-29 10:00            45            1
22   2019-04-29 10:00            48            1
23   2019-04-29 10:00            68            3
24   2019-04-29 10:00            79            1
25   2019-04-29 10:00            82            1
26   2019-04-29 10:00            90            1
27   2019-04-29 10:00           100            3
28   2019-04-29 10:00           107            4
29   2019-04-29 10:00           113            2
30   2019-04-29 10:00           125            1
31   2019-04-29 10:00           132            2
32   2019-04-29 10:00           137            2
33   2019-04-29 10:00           138            5
34   2019-04-29 10:00           140            4
35   2019-04-29 10:00           141            2
36   2019-04-29 10:00           142            4
37   2019-04-29 10:00           158            1
38   2019-04-29 10:00           161            2
39   2019-04-29 10:00           162            2
40   2019-04-29 10:00           163            6
41   2019-04-29 10:00           164            3
42   2019-04-29 10:00           166            1
43   2019-04-29 10:00           170            4
44   2019-04-29 10:00           186            7
45   2019-04-29 10:00           211            2
46   2019-04-29 10:00           229            3
47   2019-04-29 10:00           230            3
48   2019-04-29 10:00           231            1
49   2019-04-29 10:00           233            1
50   2019-04-29 10:00           234            3
51   2019-04-29 10:00           236            3
52   2019-04-29 10:00           237            4
53   2019-04-29 10:00           239            2
54   2019-04-29 10:00           246            1
55   2019-04-29 10:00           249            2
56   2019-04-29 10:00           263            3
57   2019-04-29 10:00           264            1
58   2019-04-29 11:00             4            4
59   2019-04-29 11:00             7            4
60   2019-04-29 11:00            10            3
61   2019-04-29 11:00            12            2
62   2019-04-29 11:00            13           57
63   2019-04-29 11:00            14            1
64   2019-04-29 11:00            21            1
65   2019-04-29 11:00            24           14
66   2019-04-29 11:00            25            3
67   2019-04-29 11:00            26            1
68   2019-04-29 11:00            29            2
69   2019-04-29 11:00            40            1
70   2019-04-29 11:00            41           15
71   2019-04-29 11:00            42            6
72   2019-04-29 11:00            43          102
73   2019-04-29 11:00            45           11
74   2019-04-29 11:00            48          129
75   2019-04-29 11:00            49            1
76   2019-04-29 11:00            50           42
77   2019-04-29 11:00            52            1
78   2019-04-29 11:00            56            2
79   2019-04-29 11:00            65            3
80   2019-04-29 11:00            66            4
81   2019-04-29 11:00            68          102
82   2019-04-29 11:00            69            1
83   2019-04-29 11:00            70            3
84   2019-04-29 11:00            72            2
85   2019-04-29 11:00            74           12
86   2019-04-29 11:00            75           40
87   2019-04-29 11:00            77            1
88   2019-04-29 11:00            79           53
89   2019-04-29 11:00            86            1
90   2019-04-29 11:00            87           23
91   2019-04-29 11:00            88           19
92   2019-04-29 11:00            90           79
93   2019-04-29 11:00            93            2
94   2019-04-29 11:00           100          105
95   2019-04-29 11:00           107           80
96   2019-04-29 11:00           113           71
97   2019-04-29 11:00           114           40
98   2019-04-29 11:00           116            6
99   2019-04-29 11:00           119            1
100  2019-04-29 11:00           125           27
101  2019-04-29 11:00           130            1
102  2019-04-29 11:00           132          171
103  2019-04-29 11:00           136            1
104  2019-04-29 11:00           137           55
105  2019-04-29 11:00           138          237
106  2019-04-29 11:00           140          109
107  2019-04-29 11:00           141          115
108  2019-04-29 11:00           142          144
109  2019-04-29 11:00           143           75
110  2019-04-29 11:00           144           29
111  2019-04-29 11:00           145            6
112  2019-04-29 11:00           146            5
113  2019-04-29 11:00           148           12
114  2019-04-29 11:00           149            1
115  2019-04-29 11:00           151           43
116  2019-04-29 11:00           152            1
117  2019-04-29 11:00           158           38
118  2019-04-29 11:00           161          221
119  2019-04-29 11:00           162          189
120  2019-04-29 11:00           163          178
121  2019-04-29 11:00           164           93
122  2019-04-29 11:00           165            1
123  2019-04-29 11:00           166           18
124  2019-04-29 11:00           170          166
125  2019-04-29 11:00           174            1
126  2019-04-29 11:00           175            1
127  2019-04-29 11:00           179            1
128  2019-04-29 11:00           180            1
129  2019-04-29 11:00           183            1
130  2019-04-29 11:00           186          240
131  2019-04-29 11:00           188            1
132  2019-04-29 11:00           189            1
133  2019-04-29 11:00           193            1
134  2019-04-29 11:00           202            1
135  2019-04-29 11:00           209            6
136  2019-04-29 11:00           211           26
137  2019-04-29 11:00           215            2
138  2019-04-29 11:00           219            1
139  2019-04-29 11:00           223            4
140  2019-04-29 11:00           224            8
141  2019-04-29 11:00           226           12
142  2019-04-29 11:00           228            1
143  2019-04-29 11:00           229           84
144  2019-04-29 11:00           230          157
145  2019-04-29 11:00           231           78
146  2019-04-29 11:00           232            6
147  2019-04-29 11:00           233           58
148  2019-04-29 11:00           234          117
149  2019-04-29 11:00           236          234
150  2019-04-29 11:00           237          300
151  2019-04-29 11:00           238           85
152  2019-04-29 11:00           239          123
153  2019-04-29 11:00           244            3
154  2019-04-29 11:00           246           67
155  2019-04-29 11:00           249           58
156  2019-04-29 11:00           252            1
157  2019-04-29 11:00           255            1
158  2019-04-29 11:00           260            2
159  2019-04-29 11:00           261           30
160  2019-04-29 11:00           262           41
161  2019-04-29 11:00           263           90
162  2019-04-29 11:00           264           27
163  2019-04-29 11:00           265            1
164  2019-04-29 12:00             4            5
165  2019-04-29 12:00             7            5
166  2019-04-29 12:00            10            1
167  2019-04-29 12:00            12            2
168  2019-04-29 12:00            13           60
169  2019-04-29 12:00            23            1
170  2019-04-29 12:00            24           11
171  2019-04-29 12:00            25            4
172  2019-04-29 12:00            33            1
173  2019-04-29 12:00            34            1
174  2019-04-29 12:00            39            1
175  2019-04-29 12:00            40            2
176  2019-04-29 12:00            41           16
177  2019-04-29 12:00            42            2
178  2019-04-29 12:00            43           79
179  2019-04-29 12:00            45            8
180  2019-04-29 12:00            48           81
181  2019-04-29 12:00            49            3
182  2019-04-29 12:00            50           33
183  2019-04-29 12:00            52            3
184  2019-04-29 12:00            56            1
185  2019-04-29 12:00            65            6
186  2019-04-29 12:00            66            2
187  2019-04-29 12:00            68           77
188  2019-04-29 12:00            69            1
189  2019-04-29 12:00            74           18
190  2019-04-29 12:00            75           33
191  2019-04-29 12:00            76            1
192  2019-04-29 12:00            79           73
193  2019-04-29 12:00            80            1
194  2019-04-29 12:00            83            1
195  2019-04-29 12:00            87           33
196  2019-04-29 12:00            88           26
197  2019-04-29 12:00            90           60
198  2019-04-29 12:00            91            1
199  2019-04-29 12:00            95            1
200  2019-04-29 12:00            97            5
201  2019-04-29 12:00           100           75
202  2019-04-29 12:00           107          101
203  2019-04-29 12:00           113           64
204  2019-04-29 12:00           114           34
205  2019-04-29 12:00           116            3
206  2019-04-29 12:00           123            1
207  2019-04-29 12:00           124            1
208  2019-04-29 12:00           125           21
209  2019-04-29 12:00           127            1
210  2019-04-29 12:00           132          130
211  2019-04-29 12:00           135            1
212  2019-04-29 12:00           137           66
213  2019-04-29 12:00           138          208
214  2019-04-29 12:00           140          142
215  2019-04-29 12:00           141          145
216  2019-04-29 12:00           142          141
217  2019-04-29 12:00           143           79
218  2019-04-29 12:00           144           35
219  2019-04-29 12:00           145            5
220  2019-04-29 12:00           146            6
221  2019-04-29 12:00           148           21
222  2019-04-29 12:00           151           56
223  2019-04-29 12:00           152            3
224  2019-04-29 12:00           158           26
225  2019-04-29 12:00           161          251
226  2019-04-29 12:00           162          192
227  2019-04-29 12:00           163          123
228  2019-04-29 12:00           164           93
229  2019-04-29 12:00           166           43
230  2019-04-29 12:00           170          186
231  2019-04-29 12:00           179            3
232  2019-04-29 12:00           186          132
233  2019-04-29 12:00           189            1
234  2019-04-29 12:00           193            1
235  2019-04-29 12:00           194            1
236  2019-04-29 12:00           196            1
237  2019-04-29 12:00           197            1
238  2019-04-29 12:00           209            5
239  2019-04-29 12:00           210            1
240  2019-04-29 12:00           211           30
241  2019-04-29 12:00           216            1
242  2019-04-29 12:00           217            1
243  2019-04-29 12:00           220            1
244  2019-04-29 12:00           223            3
245  2019-04-29 12:00           224           14
246  2019-04-29 12:00           226            3
247  2019-04-29 12:00           228            1
248  2019-04-29 12:00           229          115
249  2019-04-29 12:00           230          128
250  2019-04-29 12:00           231           92
251  2019-04-29 12:00           232            6
252  2019-04-29 12:00           233           81
253  2019-04-29 12:00           234          157
254  2019-04-29 12:00           236          316
255  2019-04-29 12:00           237          256
256  2019-04-29 12:00           238          122
257  2019-04-29 12:00           239          141
258  2019-04-29 12:00           243            1
259  2019-04-29 12:00           244            4
260  2019-04-29 12:00           246           75
261  2019-04-29 12:00           249           49
262  2019-04-29 12:00           256            1
263  2019-04-29 12:00           260            2
264  2019-04-29 12:00           261           34
265  2019-04-29 12:00           262           79
266  2019-04-29 12:00           263           90
267  2019-04-29 12:00           264           49
268  2019-04-29 13:00           132            3
269  2019-04-29 13:00           137            1
270  2019-04-29 13:00           138            2
271  2019-04-29 13:00           158            1
272  2019-04-29 13:00           170            1
273  2019-04-29 13:00           224            1
274  2019-04-29 13:00           229            1
275  2019-04-29 13:00           230            1
276  2019-04-29 13:00           231            1
277  2019-04-29 13:00           234            1
278  2019-04-29 13:00           236            2

In [23]:
dfsample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 3 columns):
pickup_datetime    279 non-null period[H]
PULocationID       279 non-null int64
NoOfPickups        279 non-null int64
dtypes: int64(2), period[H](1)
memory usage: 6.7 KB

In [24]:
# Remember interpolate missing values every hour