In [29]:
import pandas as pd
import numpy as np
import random
from datetime import date
import matplotlib.pyplot as plt
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
cd ../data

/home/angelrps/git/MasterDataScience_FinalProject/data

In [8]:
!ls -Rl

.:
total 2973552
-rwxrwxrwx 1 angelrps angelrps 1048588401 Mar 25 13:15 2017_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps 1065918551 Jun 18 12:58 2018_Yellow_Taxi_Trip_Data.csv.bz2
-rwxrwxrwx 1 angelrps angelrps  835929368 Apr  2 18:02 2019_Yellow_Taxi_Trip_Data.csv.bz2
-rw-rw-rw- 1 angelrps angelrps   24377425 Jun 20 06:26 Data_Taxis_2017_Cleaned.csv
-rw-rw-rw- 1 angelrps angelrps   26220204 Jun 20 04:20 Data_Taxis_2018_Cleaned.csv
-rw-rw-rw- 1 angelrps angelrps   26759445 Jun 20 00:08 Data_Taxis_2019_Cleaned.csv
-rwxrwxrwx 1 angelrps angelrps     564780 Jun 18 11:15 Data_Weather_Cleaned.csv
-rwxrwxrwx 1 angelrps angelrps     436485 Jun 16 10:51 LCD_documentation.pdf
-rwxrwxrwx 1 angelrps angelrps   13843633 Jun 16 09:40 NOAA_CentralPark_Weather.csv
-rwxrwxrwx 1 angelrps angelrps     196848 Apr  7 19:34 data_dictionary_trip_records_yellow.pdf
-rwxrwxrwx 1 angelrps angelrps    1489310 Apr  7 19:34 taxi_zone_map_manhattan.jpg
-rwxrwxrwx 1 angelrps angelrps     202694 Apr  4 12:46 trip_record_user_guide.pdf

In [ ]:
# LetÂ´s start by joining just one year: 2019

#### Some sanity check that should have done before exporting the cleaned csvs:
- Filter by year as I have detected some data from different years(2001,2008,...)

In [26]:
dftax = pd.read_csv('./Data_Taxis_2019_Cleaned.csv', sep=',',
                        dtype = {"PULocationID" : "object"},
                        parse_dates=['pickup_datetime'])
dftax.head()

      pickup_datetime PULocationID  NoOfPickups
0 2001-01-01 00:00:00           48            1
1 2001-01-01 00:00:00          151            1
2 2002-02-02 01:00:00           48            4
3 2002-02-02 01:00:00           79            1
4 2002-02-02 01:00:00           87            1

In [27]:
dftax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1148068 entries, 0 to 1148067
Data columns (total 3 columns):
pickup_datetime    1148068 non-null datetime64[ns]
PULocationID       1148068 non-null object
NoOfPickups        1148068 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 26.3+ MB

In [33]:
dftacdftax[dftax['pickup_datetime'] < pd.Timestamp(date(2019,1,1))].index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            454, 455, 456, 457, 458, 459, 460, 461, 462, 463],
           dtype='int64', length=464)