## In this notebook I will explore different predictive models

In [3]:
!ls -Rl

.:
total 145968
-rw-rw-rw- 1 angelrps angelrps  550601 Jun 23 07:30 05-visualization_introduction_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps  189652 Jun 19 09:19 Amadeus_Challenge_Class.ipynb
-rwxrwxrwx 1 angelrps angelrps 7369019 Apr  7 19:34 Data_Analysis.ipynb
-rw-rw-rw- 1 angelrps angelrps  752508 Jun 22 10:02 Data_Analysis_Taxis.ipynb
-rwxrwxrwx 1 angelrps angelrps  371494 Jun 18 11:33 Data_Analysis_Weather.ipynb
-rw-rw-rw- 1 angelrps angelrps 2387352 Jun 23 09:30 Data_Join_Taxis_Weather.ipynb
-rwxrwxrwx 1 angelrps angelrps   10144 Apr  8 17:19 HowToTackleDataScienceChallenge.ipynb
-rw-rw-rw- 1 angelrps angelrps    1429 Jun 23 13:06 Modelling_01.ipynb
-rwxrwxrwx 1 angelrps angelrps 3527394 Jun 12 11:59 TSA.ipynb

In [4]:
cd ../data

/home/angelrps/git/MasterDataScience_FinalProject/data

## 1. Import libraries and dataset

In [106]:
# IMPORT LIBRARIES
pd.options.display.max_columns = None
pd.options.display.max_rows = None
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [93]:
# Import dataset

df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"PULocationID" : "object"},
                 parse_dates=['datetime'])
df.info() # check dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036854 entries, 0 to 1036853
Data columns (total 13 columns):
datetime               1036854 non-null datetime64[ns]
PULocationID           1036854 non-null object
NoOfPickups            1036854 non-null int64
year                   1036854 non-null int64
month                  1036854 non-null int64
day                    1036854 non-null int64
hour                   1036854 non-null int64
week                   1036854 non-null int64
dayofweek              1036854 non-null int64
isweekend              1036854 non-null int64
IsHoliday              1036854 non-null int64
hourlyperiods          1036854 non-null int64
HourlyPrecipitation    1036854 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(10), object(1)
memory usage: 102.8+ MB

## 2. Separate variables
INPUT variables: (must be Pandas DataFrame)
    - month
    - day
    - hour
    - is weekend
    - PULocationID
    - HourlyPrecipitation
OUTPUT: (must Pandas Series)
    - NoOfPickups

In [5]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 1. Import dataset

df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"PULocationID" : "object"},
                 parse_dates=['datetime'])

# 2. Separate variables
X = df[['month','day','hour','PULocationID','HourlyPrecipitation']]
y = df['NoOfPickups']
type(X), type(y) # 'X' must be DataFrame and 'y' must be a Pandas Series

(pandas.core.frame.DataFrame, pandas.core.series.Series)

## 3. Split data set

I will use **train_test_split** from sklearn twice to split the data in:
- Train: 60%
- Validation: 20% (to validate training)
- Test: 20% (to validate de model)

In [6]:
# 2. Split data set
# trainSize = 0.6
valSize = 0.25 #0.8 * 0.2 = 0.2
testSize = 0.2


# Split TRAIN-TEST
X_train, X_test, y_train, y_test \
    = train_test_split(X,y,test_size=testSize,random_state=1)

# Split TRAIN-VALIDATION
X_train, X_val, y_train, y_val \
    = train_test_split(X_train, y_train, test_size=valSize, random_state=1)

In [100]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 1. Import dataset

df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"PULocationID" : "object"},
                 parse_dates=['datetime'])

# 2. Separate variables
X = df[['month','day','hour','PULocationID','HourlyPrecipitation']]
y = df['NoOfPickups']
type(X), type(y) # 'X' must be DataFrame and 'y' must be a Pandas Series

# 2. Split data set
# trainSize = 0.6
valSize = 0.25 #0.8 * 0.2 = 0.2
testSize = 0.2


# 3.1 Split TRAIN-TEST
X_train, X_test, y_train, y_test \
    = train_test_split(X,y,test_size=testSize,random_state=1)

# 3.2 Split TRAIN-VALIDATION
X_train, X_val, y_train, y_val \
    = train_test_split(X_train, y_train, test_size=valSize, random_state=1)

## 4. Models

As the output variable is a number we need to solve a **regression** problem.

I will start with the simplest regression model: **LINEAR REGRESSION**

date time object into unix-tipe format

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036854 entries, 0 to 1036853
Data columns (total 13 columns):
datetime               1036854 non-null datetime64[ns]
PULocationID           1036854 non-null object
NoOfPickups            1036854 non-null int64
year                   1036854 non-null int64
month                  1036854 non-null int64
day                    1036854 non-null int64
hour                   1036854 non-null int64
week                   1036854 non-null int64
dayofweek              1036854 non-null int64
isweekend              1036854 non-null int64
IsHoliday              1036854 non-null int64
hourlyperiods          1036854 non-null int64
HourlyPrecipitation    1036854 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(10), object(1)
memory usage: 102.8+ MB

### Linear Regression

In [111]:
help(reg.score)

Help on method score in module sklearn.base:

score(X, y, sample_weight=None) method of sklearn.linear_model.base.LinearRegression instance
    Returns the coefficient of determination R^2 of the prediction.

    The coefficient R^2 is defined as (1 - u/v), where u is the residual
    sum of squares ((y_true - y_pred) ** 2).sum() and v is the total
    sum of squares ((y_true - y_true.mean()) ** 2).sum().
    The best possible score is 1.0 and it can be negative (because the
    model can be arbitrarily worse). A constant model that always
    predicts the expected value of y, disregarding the input features,
    would get a R^2 score of 0.0.

    Parameters
    ----------
    X : array-like, shape = (n_samples, n_features)
        Test samples. For some estimators this may be a
        precomputed kernel matrix instead, shape = (n_samples,
        n_samples_fitted], where n_samples_fitted is the number of
        samples used in the fitting for the estimator.

    y : array-like, shape = (n_samples) or (n_samples, n_outputs)
        True values for X.

    sample_weight : array-like, shape = [n_samples], optional
        Sample weights.

    Returns
    -------
    score : float
        R^2 of self.predict(X) wrt. y.

    Notes
    -----
    The R2 score used when calling ``score`` on a regressor will use
    ``multioutput='uniform_average'`` from version 0.23 to keep consistent
    with `metrics.r2_score`. This will influence the ``score`` method of
    all the multioutput regressors (except for
    `multioutput.MultiOutputRegressor`). To specify the default value
    manually and avoid the warning, please either call `metrics.r2_score`
    directly or make a custom scorer with `metrics.make_scorer` (the
    built-in scorer ``'r2'`` uses ``multioutput='uniform_average'``).

score() Returns the coefficient of determination R^2 of the prediction.<br>
Values from 0 to 1. Best is 1.<br>
My model has a very poor score....

In [118]:
from sklearn.linear_model import LinearRegression

# 4.1 Create an instance of the model and train it
reg = LinearRegression().fit(X_train, y_train)

# Do predictions
reg_y_pred = reg.predict(X_val)
print(reg.score(X_train, y_train))
print(reg.score(X_val, y_val))
print(reg.score(X_test, y_test))

0.06158246823162972
0.06112097514786452
0.06225384281349889

### K Nearest Neighbour Regressor (KNN)
Parameters:

   **k**: number of neighbors <br>
   **weight**: way to give more weight to points which are nearby and less weight to the points which are farther away.<br>
- 'uniform': all the same weight.<br>
- 'distance': weighted average per distance.<br>
- 'Custom': weighted average provided by user<br>

In [92]:
from sklearn.neighbors import KNeighborsRegressor

# Create an instance.
# Define number of neighbors.
# weights possible values: 'uniform', 'distance', [callable] user defined function
regk = KNeighborsRegressor(n_neighbors=2, weights = 'uniform')

# Train the data
regk.fit(X_train, y_train)

KeyboardInterrupt:

## MAE

Measures average magnitud of the errors without considering their direction (all errors in absolute value). It is intuitive to calculate, but you lose information related to the magnitud of the error.<br>
Units are the same as the target variable.<br>
Value range from 0 to infinite. Lower values are better.

In [59]:
from sklearn.metrics import mean_absolute_error

# Use against predictions
MAE = mean_absolute_error(reg.predict(X_val), y_val)
MAE

122.8084311128245

## MAPE

Similar to MAE but it measures the error in percentage.<br>
Lower values are better.<br>
MAPE is not in sklearn so I calculate it MANUALLY with pandas:

In [55]:
MAPE = np.mean(np.abs(reg.predict(X_val) - y_val)/y_val)
MAPE

27.735147032005752

## RMSE

Measures average magnitud of errors.<br>
Units are the same as the target variable.<br>
Value range from 0 to infinite. Lower values are better.

In [60]:
from sklearn.metrics import mean_absolute_error

# Use against predictions (we have to calculate the squared root of MSE)
RMSE = np.sqrt(mean_absolute_error(reg.predict(X_val), y_val))
RMSE

11.081896548552711

In [63]:
print('MEAN: ', y_val.mean())
print('MEDIAN: ', y_val.median())
print('MAE: ', MAE)
print('MAPE: ', MAPE)
print('RMSE: ', RMSE)

MEAN:  108.5707066079635
MEDIAN:  17.0
MAE:  122.8084311128245
MAPE:  27.735147032005752
RMSE:  11.081896548552711

## Correlation

**There should be a strong correlation between predictions and real values.<br>
However, I get a very week correlation value of 0.24**

In [64]:
np.corrcoef(reg.predict(X_val), y_val)[0][1]

0.2472282671001276

## Bias
It is the average of errors (prediction values minus real values).<br>
Negative errors will compensate positive ones.

In [67]:
bias = np.mean(reg.predict(X_val) - y_val)
bias

-0.025461020671940716

## Variance
Is the average of errors in predictions between two different data sets.

In [88]:
# create table from X_train with same number of rows as X_val
# so it can be used to calculate the variance
X_train_for_variance = X_train.head(X_val.shape[0])

variance = np.mean(reg.predict(X_train_for_variance) - reg.predict(X_val))
variance

-0.015283686510429762

In [105]:
# Merge X_train with predictions
combine = X_train.copy()
combine['NoOfPickups'] = y_train
combine['pickups Prediction'] = reg.predict(X_train)

combine.head(100)

,month,day,hour,PULocationID,HourlyPrecipitation,NoOfPickups,pickups Prediction
735146,9,15,12,142,0.0,487,109.100722
424941,5,28,20,262,0.0,66,194.956310
729423,9,13,11,52,0.0,8,68.910537
350873,5,3,6,132,0.0,269,81.468912
820234,10,15,20,151,0.0,98,149.491112
...,...,...,...,...,...,...,...
511215,6,27,18,261,0.0,125,184.689391
668400,8,22,17,263,0.0,220,180.252599
423674,5,28,10,211,0.0,54,127.832832
22228,1,8,15,41,0.0,64,89.266640
873265,11,3,19,261,0.0,181,189.747738

In [108]:
# Merge X_train with predictions
combine2 = X_test.copy()
combine2['NoOfPickups'] = y_test
combine2['pickups Prediction'] = reg.predict(X_test)

combine2.head(100)

,month,day,hour,PULocationID,HourlyPrecipitation,NoOfPickups,pickups Prediction
435377,6,1,15,87,0.000,130,105.359735
146903,2,21,21,40,0.000,8,114.334539
953848,12,2,16,193,0.000,3,148.138214
693632,8,31,19,76,0.000,1,113.841673
638002,8,11,21,43,0.000,126,113.119033
108970,2,8,13,143,0.000,216,119.831727
787683,10,4,6,223,0.000,10,114.250840
462069,6,10,20,132,0.000,543,145.311649
379471,5,13,6,36,1.270,1,42.373345
832561,10,20,8,195,0.000,11,110.041909
388645,5,16,10,40,0.000,1,61.616518
582172,7,22,20,169,0.000,1,157.553781
841170,10,23,8,100,0.000,365,71.784712
807157,10,11,5,138,0.000,4,74.681222
920022,11,20,11,261,0.000,89,149.697639
1029481,12,29,10,232,0.000,14,131.451387
510078,6,27,9,123,0.000,1,87.631302
856757,10,28,21,231,0.000,295,184.029093
621469,8,5,20,144,0.000,279,149.536934
177365,3,4,9,106,0.000,4,86.330507
113504,2,10,5,62,0.000,1,49.832992
600086,7,29,6,261,0.000,24,127.533684
33144,1,12,13,97,0.000,5,101.574766
790238,10,5,4,230,0.000,101,107.517987
422063,5,27,21,264,0.000,166,200.587261
458534,6,9,16,171,0.000,1,142.249861
267812,4,4,9,106,0.000,1,85.675461
677031,8,25,21,114,0.000,293,139.240735
861313,10,30,12,28,0.000,3,60.803033
423138,5,28,6,49,0.000,6,44.640234
512987,6,28,10,90,0.000,264,79.031402
90492,2,1,23,132,0.000,221,163.349898
280017,4,8,15,93,0.000,3,107.992510
808542,10,11,17,194,1.270,2,153.784570
180412,3,5,9,76,0.000,1,74.241281
466944,6,12,11,92,0.000,1,86.943941
364797,5,7,23,265,0.000,3,213.393357
534461,7,5,22,65,0.000,16,128.123639
573413,7,19,18,209,0.000,45,164.560184
738145,9,16,13,40,0.000,8,73.045446
732962,9,14,17,237,0.000,1105,170.468895
845276,10,24,20,179,0.000,1,159.263471
712135,9,7,8,48,0.000,444,54.182443
316195,4,21,5,189,0.762,1,97.758109
786111,10,3,16,230,0.000,464,164.018648
621208,8,5,18,113,0.000,265,127.835835
448177,6,5,23,232,0.000,31,199.911691
707756,9,5,18,43,0.000,218,99.327510
526073,7,2,22,189,0.000,6,177.920053
1735,1,1,11,47,0.000,1,73.986655
185143,3,7,0,97,0.000,16,40.145716
32606,1,12,8,146,0.000,15,97.656875
973253,12,9,16,40,2.032,1,87.193001
57107,1,21,0,48,0.000,659,19.829031
480239,6,17,3,116,0.000,13,58.268808
130015,2,16,0,13,0.000,43,6.007874
422147,5,27,22,173,0.000,1,169.061035
125723,2,14,11,49,0.000,3,72.150041
265687,4,3,15,113,0.000,264,116.711119
128015,2,15,6,226,0.000,60,119.011756
475945,6,15,16,56,0.000,4,95.578267
369995,5,9,21,250,0.000,1,197.754510
262271,4,2,11,62,0.000,1,77.837971
856912,10,28,23,34,0.000,2,115.008081
646254,8,14,18,134,0.000,2,134.822867
41053,1,15,6,90,0.000,70,65.551858
599467,7,29,2,7,0.000,37,7.733919
434088,6,1,4,13,0.000,8,24.401427
716608,9,8,22,24,0.000,36,110.043166
686485,8,29,4,144,0.000,10,70.957795
915151,11,18,19,13,0.000,145,88.785959
674902,8,25,3,83,0.000,3,42.611037
306876,4,17,22,7,0.000,16,105.185076
359633,5,6,7,114,0.000,38,78.533360
924371,11,22,1,211,0.000,31,82.667853
25054,1,9,14,166,0.000,75,134.169497
1022376,12,26,20,223,0.000,3,175.156943
742702,9,18,2,50,0.000,11,25.206863
948726,11,30,22,70,0.000,3,123.690329
458989,6,9,20,83,0.000,1,125.966459
816068,10,14,10,168,0.000,8,109.577211
40133,1,14,23,37,0.000,8,124.226689
935879,11,26,4,13,0.000,6,17.323551
621501,8,5,20,226,0.000,21,182.165062
725008,9,11,19,265,0.000,4,191.432599
432447,5,31,14,49,0.000,1,81.648216
424281,5,28,15,194,0.000,1,144.483651
408687,5,23,5,235,0.000,1,114.727870
59552,1,21,20,130,0.000,1,146.117908
778692,10,1,0,233,0.000,124,90.587972
313509,4,20,7,88,2.286,44,67.837116
861734,10,30,15,212,0.000,1,148.066481
348630,5,2,11,17,0.000,2,59.277245
565426,7,16,21,25,0.000,17,105.851278
858256,10,29,9,170,0.254,290,103.533249
615996,8,3,23,4,0.000,50,108.183699
340148,4,29,13,62,0.000,1,83.097189
747412,9,19,19,234,0.000,737,177.880729
457678,6,9,9,165,0.000,1,107.081175
746484,9,19,11,232,0.000,9,139.620621