## In this notebook I will explore different predictive models

In [1]:
!ls -Rl

.:
total 21180
-rwxrwxrwx 1 angelrps angelrps 7384896 Jul  1 17:19  Data_Analysis.ipynb
-rw-rw-rw- 1 angelrps angelrps 2300551 Jul 10 12:07  Data_Analysis_Taxis.ipynb
-rwxrwxrwx 1 angelrps angelrps  371494 Jun 18 11:33  Data_Analysis_Weather.ipynb
-rw-rw-rw- 1 angelrps angelrps  164169 Jul 10 13:04  Data_Join_Taxis_Weather.ipynb
-rw-rw-rw- 1 angelrps angelrps  682153 Jul 21 12:29  FrontEnd_01.ipynb
-rw-rw-rw- 1 angelrps angelrps  114829 Jul 28 11:07  Modelling_01.ipynb
d--------- 1 angelrps angelrps     512 Jul 22 15:13 'PARA SEBASTIEN'
-rw-rw-rw- 1 angelrps angelrps  130423 Jun 23 13:20  Regression_Advanced_Housing_Price-blank-April_27.ipynb
-rw-rw-rw- 1 angelrps angelrps  141159 Jul 28 11:45  Streamlit.ipynb
-rw-rw-rw- 1 angelrps angelrps    1034 Jul 23 15:24  Streamlit_JustRun.ipynb
-rw-rw-rw- 1 angelrps angelrps  614335 Jul 24 16:08 'TSA - Sesi√≥n.ipynb'
-rw-rw-rw- 1 angelrps angelrps   11748 Jul 24 15:42  Web_Scrapping_Weather.ipynb
-rwxrwxrwx 1 angelrps angelrps 9036288 May 27 19:50  chromedriver.exe
drwxrwxrwx 1 angelrps angelrps     512 Jul 23 10:09  station
-rw-rw-rw- 1 angelrps angelrps    4808 Jul 23 15:25  streamlit_app.py
ls: cannot open directory './PARA SEBASTIEN': Permission denied

./station:
total 0

In [2]:
cd ../data

/home/angelrps/git/MasterDataScience_FinalProject/data

## 1. Import libraries and dataset

In [2]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = None
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [3]:
# Import dataset
df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"LocationID" : "object"},
                 parse_dates=['datetime'])

df.info() # check dtypes
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586920 entries, 0 to 586919
Data columns (total 11 columns):
datetime         586920 non-null datetime64[ns]
month            586920 non-null int64
day              586920 non-null int64
hour             586920 non-null int64
LocationID       586920 non-null object
NoOfPickups      586920 non-null float64
year             586920 non-null int64
week             586920 non-null int64
dayofweek        586920 non-null int64
isweekend        586920 non-null int64
precipitation    586920 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(1)
memory usage: 49.3+ MB

,datetime,month,day,hour,LocationID,NoOfPickups,year,week,dayofweek,isweekend,precipitation
0,2017-01-01,1,1,0,4,136.0,2017,52,6,1,0.0
1,2017-01-01,1,1,0,12,3.0,2017,52,6,1,0.0
2,2017-01-01,1,1,0,13,103.0,2017,52,6,1,0.0
3,2017-01-01,1,1,0,24,94.0,2017,52,6,1,0.0
4,2017-01-01,1,1,0,41,136.0,2017,52,6,1,0.0

## 2. Separate variables
INPUT variables: (must be Pandas DataFrame)
    - month
    - day
    - hour
    - week
    - dayofweek
    - isweekend
    - LocationID
    - precipitation
OUTPUT: (must Pandas Series)
    - NoOfPickups

In [7]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 1. Import dataset

df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"LocationID" : "object"},
                 parse_dates=['datetime'])

# 2. Separate variables
X = df[['month','day','hour','week','dayofweek','isweekend','LocationID','precipitation']]
y = df['NoOfPickups']
print("FEATURES 'X': ", type(X)) # 'X' must be DataFrame and 'y' must be a Pandas Series
display(X.head(),y.head())
print("TARGET VARIABLE 'y': ",type(y))
display(y.head())

FEATURES 'X':  <class 'pandas.core.frame.DataFrame'>

   month  day  hour  week  dayofweek  isweekend LocationID  precipitation
0      1    1     0    52          6          1          4            0.0
1      1    1     0    52          6          1         12            0.0
2      1    1     0    52          6          1         13            0.0
3      1    1     0    52          6          1         24            0.0
4      1    1     0    52          6          1         41            0.0

0    136.0
1      3.0
2    103.0
3     94.0
4    136.0
Name: NoOfPickups, dtype: float64

TARGET VARIABLE 'y':  <class 'pandas.core.series.Series'>

0    136.0
1      3.0
2    103.0
3     94.0
4    136.0
Name: NoOfPickups, dtype: float64

## 3. Split data set

I will use **train_test_split** from sklearn twice to split the data in:
- Train: 60%
- Validation: 20% (to validate training)
- Test: 20% (to validate de model)

In [8]:
# 2. Split data set
# trainSize = 0.6
valSize = 0.25 #0.8 * 0.2 = 0.2
testSize = 0.2


# Split TRAIN-TEST
X_train, X_test, y_train, y_test \
    = train_test_split(X,y,test_size=testSize,random_state=1)

# Split TRAIN-VALIDATION
X_train, X_val, y_train, y_val \
    = train_test_split(X_train, y_train, test_size=valSize, random_state=1)

In [11]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 1. Import dataset
df = pd.read_csv('../data/Data_Cleaned_2017_To_Model.csv', sep=',',
                 dtype = {"LocationID" : "object"},
                 parse_dates=['datetime'])

# 2. Separate variables
X = df[['month','day','hour','week','dayofweek','isweekend','LocationID','precipitation']]
y = df['NoOfPickups']
type(X), type(y) # 'X' must be DataFrame and 'y' must be a Pandas Series

# 2. Split data set
# trainSize = 0.6
valSize = 0.25 #0.8 * 0.2 = 0.2
testSize = 0.2


# 3.1 Split TRAIN-TEST
X_train, X_test, y_train, y_test \
    = train_test_split(X,y,test_size=testSize,random_state=1)

# 3.2 Split TRAIN-VALIDATION
X_train, X_val, y_train, y_val \
    = train_test_split(X_train, y_train, test_size=valSize, random_state=1)

## 4. Models

As the output variable is a number we need to solve a **regression** problem.

I will start with the simplest regression model: **LINEAR REGRESSION**

date time object into unix-tipe format

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586920 entries, 0 to 586919
Data columns (total 11 columns):
datetime         586920 non-null datetime64[ns]
month            586920 non-null int64
day              586920 non-null int64
hour             586920 non-null int64
LocationID       586920 non-null object
NoOfPickups      586920 non-null float64
year             586920 non-null int64
week             586920 non-null int64
dayofweek        586920 non-null int64
isweekend        586920 non-null int64
precipitation    586920 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(1)
memory usage: 49.3+ MB

### Linear Regression

score() Returns the coefficient of determination R^2 of the prediction.<br>
Values from 0 to 1. Best is 1.<br>
My model has a very poor score....

In [13]:
from sklearn.linear_model import LinearRegression

# 4.1 Create an instance of the model and train it
reg = LinearRegression().fit(X_train, y_train)

# Do predictions
reg_y_pred = reg.predict(X_val)
print(reg.score(X_train, y_train))
print(reg.score(X_val, y_val))
print(reg.score(X_test, y_test))

0.105383898423693
0.1026728998998584
0.10280433594331106

In [14]:
X_val.head()

        month  day  hour  week  dayofweek  isweekend LocationID  precipitation
397589      9    5     6    36          1          0         74           0.00
351117      8    7     8    32          0          0        158           0.41
202628      5    7     0    18          6          1        113           0.00
381299      8   26     3    34          5          1         13           0.00
305923      7   10     6    28          0          0         12           0.00

### K Nearest Neighbour Regressor (KNN)
Parameters:

   **k**: number of neighbors <br>
   **weight**: way to give more weight to points which are nearby and less weight to the points which are farther away.<br>
- 'uniform': all the same weight.<br>
- 'distance': weighted average per distance.<br>
- 'Custom': weighted average provided by user<br>

In [15]:
from sklearn.neighbors import KNeighborsRegressor

# Create an instance.
# Define number of neighbors.
# weights possible values: 'uniform', 'distance', [callable] user defined function
regk = KNeighborsRegressor(n_neighbors=2, weights = 'uniform')

# Train the data
regk.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                    weights='uniform')

## MAE

Measures average magnitud of the errors without considering their direction (all errors in absolute value). It is intuitive to calculate, but you lose information related to the magnitud of the error.<br>
Units are the same as the target variable.<br>
Value range from 0 to infinite. Lower values are better.

In [16]:
from sklearn.metrics import mean_absolute_error

# Use against predictions
MAE = mean_absolute_error(reg.predict(X_val), y_val)
MAE

144.94276638135628

## MAPE

Similar to MAE but it measures the error in percentage.<br>
Lower values are better.<br>
MAPE is not in sklearn so I calculate it MANUALLY with pandas:

In [17]:
MAPE = np.mean(np.abs(reg.predict(X_val) - y_val)/y_val)
MAPE

inf

## RMSE

Measures average magnitud of errors.<br>
Units are the same as the target variable.<br>
Value range from 0 to infinite. Lower values are better.

In [18]:
from sklearn.metrics import mean_absolute_error

# Use against predictions (we have to calculate the squared root of MSE)
RMSE = np.sqrt(mean_absolute_error(reg.predict(X_val), y_val))
RMSE

12.039217847574497

In [19]:
print('MEAN: ', y_val.mean())
print('MEDIAN: ', y_val.median())
print('MAE: ', MAE)
print('MAPE: ', MAPE)
print('RMSE: ', RMSE)

MEAN:  174.44625332242896
MEDIAN:  94.0
MAE:  144.94276638135628
MAPE:  inf
RMSE:  12.039217847574497

## Correlation

**There should be a strong correlation between predictions and real values.<br>
However, I get a very week correlation value of 0.31**

In [20]:
np.corrcoef(reg.predict(X_val), y_val)[0][1]

0.32048086476925547

## Bias
It is the average of errors (prediction values minus real values).<br>
Negative errors will compensate positive ones.

In [21]:
bias = np.mean(reg.predict(X_val) - y_val)
bias

0.4365067108034941

## Variance
Is the average of errors in predictions between two different data sets.

In [22]:
# create table from X_train with same number of rows as X_val
# so it can be used to calculate the variance
X_train_for_variance = X_train.head(X_val.shape[0])

variance = np.mean(reg.predict(X_train_for_variance) - reg.predict(X_val))
variance

0.08122291046361776

In [23]:
# Merge X_train with predictions
combine = X_train.copy()
combine['NoOfPickups'] = y_train
combine['pickups Prediction'] = reg.predict(X_train)

combine.head(100)

,month,day,hour,week,dayofweek,isweekend,LocationID,precipitation,NoOfPickups,pickups Prediction
233539,5,26,5,21,4,0,186,0.05,166.0,155.683761
567551,12,19,22,51,1,0,244,0.00,28.0,292.270009
20598,1,13,19,2,4,0,141,0.00,488.0,253.520493
241011,5,30,21,22,1,0,75,0.01,69.0,207.391581
247179,6,3,17,22,5,1,90,0.00,407.0,186.637620
246256,6,3,3,22,5,1,143,0.00,28.0,101.824769
130727,3,23,7,12,3,0,68,0.00,289.0,109.222586
532594,11,28,5,48,1,0,74,0.00,35.0,70.093928
56410,2,5,1,5,6,1,249,0.00,994.0,150.637183
70791,2,14,0,7,1,0,162,0.00,251.0,93.356283
260280,6,11,20,23,6,1,231,0.00,222.0,284.708695
69309,2,13,2,7,0,0,143,0.06,4.0,95.891991
402344,9,8,5,36,4,0,50,0.00,28.0,85.097810
361601,8,13,21,32,6,1,13,0.00,91.0,179.165145
241725,5,31,7,22,2,0,236,0.00,882.0,182.123249
43814,1,28,5,4,5,1,249,0.00,70.0,170.976717
255772,6,9,1,23,4,0,148,0.00,472.0,107.100897
506707,11,12,2,45,6,1,232,0.00,77.0,133.473017
361600,8,13,21,32,6,1,12,0.00,10.0,178.662178
176453,4,20,17,16,3,0,166,0.00,132.0,237.432824
240408,5,30,12,22,1,0,75,0.00,118.0,135.453866
500974,11,8,13,45,2,0,88,0.00,87.0,153.043656
307237,7,11,1,28,1,0,166,0.00,21.0,96.489661
429508,9,25,2,39,0,0,161,0.00,32.0,88.322053
304767,7,9,12,27,6,1,230,0.00,415.0,219.587650
459172,10,13,13,41,4,0,114,0.00,156.0,177.827789
219252,5,17,8,20,2,0,140,0.00,487.0,146.272944
440896,10,2,4,40,0,0,153,0.00,0.0,106.010211
292168,7,1,16,26,5,1,211,0.00,148.0,238.613517
521603,11,21,9,47,1,0,48,0.00,503.0,91.101555
437453,9,30,1,39,5,1,68,0.00,463.0,34.672370
95301,3,1,6,9,2,0,137,0.00,172.0,137.171087
289358,6,29,22,26,3,0,231,0.00,374.0,303.841207
107047,3,8,13,10,2,0,211,0.00,131.0,227.889477
575678,12,25,0,52,0,0,87,0.02,16.0,30.955099
236950,5,28,8,21,6,1,161,0.00,132.0,150.184897
1623,1,2,0,1,0,0,88,0.00,18.0,55.808521
34384,1,22,9,3,6,1,79,0.00,214.0,125.059700
167769,4,15,8,15,5,1,12,0.00,3.0,75.133591
537454,12,1,5,48,4,0,209,0.00,8.0,162.525731
249839,6,5,8,23,0,0,249,0.00,303.0,191.625445
106666,3,8,8,10,2,0,13,0.00,300.0,88.491380
334611,7,28,2,30,4,0,79,0.00,349.0,72.728977
288726,6,29,13,26,3,0,120,0.00,0.0,176.352599
361935,8,14,2,33,0,0,12,0.00,0.0,18.554332
390971,9,1,3,35,4,0,128,0.00,0.0,110.641060
474916,10,23,8,43,0,0,113,0.00,257.0,111.031656
239025,5,29,15,22,0,0,153,0.00,0.0,193.069168
500580,11,8,7,45,2,0,120,0.00,0.0,121.365695
450219,10,7,23,40,5,1,202,0.00,0.0,283.024725
436521,9,29,11,39,4,0,90,0.00,248.0,146.280867
233081,5,25,22,21,3,0,234,0.20,813.0,313.855892
145274,4,1,8,13,5,1,103,0.00,0.0,125.375864
501320,11,8,18,45,2,0,128,0.00,0.0,212.973055
204838,5,8,9,19,0,0,107,0.00,382.0,128.868312
297337,7,4,21,27,1,0,238,0.00,150.0,294.182368
522155,11,21,17,47,1,0,125,0.00,47.0,193.527156
527494,11,25,1,47,5,1,24,0.00,21.0,10.918997
243448,6,1,9,22,3,0,158,0.00,202.0,172.561384
56601,2,5,4,5,6,1,232,0.00,31.0,165.973198
386879,8,29,14,35,1,0,114,0.06,136.0,168.103186
298447,7,5,14,27,2,0,141,0.00,297.0,195.162112
451059,10,8,12,40,6,1,88,0.00,92.0,143.605447
38420,1,24,21,4,1,0,141,0.02,305.0,249.021655
237325,5,28,14,21,6,1,74,0.00,52.0,154.199704
108635,3,9,13,10,3,0,140,0.00,344.0,197.681385
452881,10,9,15,41,0,0,140,0.04,328.0,185.932646
382406,8,26,19,34,5,1,158,0.00,234.0,226.196133
170600,4,17,2,16,0,0,103,0.00,0.0,69.806141
311290,7,13,14,28,3,0,48,0.00,406.0,151.652594
349297,8,6,5,31,6,1,128,0.00,0.0,111.848081
448402,10,6,20,40,4,0,161,0.00,743.0,259.438412
87279,2,24,6,8,4,0,194,0.00,0.0,171.495510
82210,2,21,3,8,1,0,12,0.00,0.0,39.561597
481489,10,27,10,43,4,0,137,0.00,163.0,161.037248
437998,9,30,9,39,5,1,107,0.00,269.0,117.985246
5048,1,4,3,1,2,0,120,0.00,0.0,106.794942
540756,12,3,6,48,6,1,263,0.00,73.0,182.228838
511436,11,15,1,46,2,0,127,0.00,1.0,74.877409
467694,10,18,20,42,2,0,151,0.00,109.0,238.931371
494353,11,4,10,44,5,1,137,0.00,185.0,146.122027
445331,10,4,22,40,2,0,224,0.00,41.0,296.044544
130093,3,22,21,12,2,0,202,0.00,3.0,282.587638
183341,4,25,0,17,1,0,141,0.00,86.0,76.260933
410002,9,12,23,37,1,0,141,0.00,164.0,255.442683
415661,9,16,11,37,5,1,243,0.00,6.0,206.785305
194514,5,1,23,18,0,0,79,0.00,397.0,228.491486
365330,8,16,4,33,2,0,202,0.00,0.0,141.047304
321926,7,20,4,29,3,0,238,0.00,20.0,165.358576
27474,1,18,2,3,2,0,41,0.01,10.0,54.904502
107291,3,8,17,10,2,0,125,0.00,98.0,216.482955
44054,1,28,9,4,5,1,152,0.00,28.0,154.037563
309593,7,12,12,28,2,0,232,0.00,20.0,222.771600
140416,3,29,7,13,2,0,230,0.00,321.0,182.964463
288764,6,29,13,26,3,0,244,0.00,15.0,238.720439
315092,7,15,22,28,5,1,238,0.00,158.0,295.494174
94196,2,28,13,9,1,0,244,0.00,15.0,233.635130
299672,7,6,8,27,3,0,211,0.00,61.0,188.099400
373373,8,21,4,34,0,0,224,0.00,6.0,138.871353
323481,7,21,4,29,4,0,42,0.00,12.0,72.279677

In [24]:
# Merge X_test with predictions
combine2 = X_test.copy()
combine2['NoOfPickups'] = y_test
combine2['pickups Prediction'] = reg.predict(X_test)

combine2.head(100)

,month,day,hour,week,dayofweek,isweekend,LocationID,precipitation,NoOfPickups,pickups Prediction
190258,4,29,7,17,5,1,194,0.00,1.0,154.239011
88815,2,25,5,8,5,1,163,0.00,49.0,127.019647
376609,8,23,5,34,2,0,13,0.00,19.0,51.712630
520565,11,20,17,47,0,0,166,0.00,147.0,208.646256
329609,7,24,23,30,0,0,153,0.00,0.0,255.143502
344968,8,3,12,31,3,0,231,0.00,300.0,229.305366
434099,9,27,23,39,2,0,43,0.00,83.0,207.182170
350313,8,6,20,31,6,1,158,0.00,160.0,246.369295
218510,5,16,21,20,1,0,120,0.00,0.0,234.219014
561757,12,16,8,50,5,1,141,0.00,286.0,126.816376
102031,3,5,10,9,6,1,237,0.00,563.0,214.902144
189539,4,28,20,17,4,0,249,0.00,480.0,306.331845
110853,3,10,22,10,4,0,152,0.00,21.0,280.878839
448779,10,7,2,40,5,1,79,0.00,1371.0,53.954743
579100,12,27,3,52,2,0,107,0.00,25.0,75.349155
321148,7,19,17,29,2,0,100,0.00,250.0,193.954606
353262,8,8,16,32,1,0,161,0.00,789.0,212.705094
28642,1,18,19,3,2,0,148,0.00,191.0,243.800045
454022,10,10,8,41,1,0,142,0.00,445.0,135.592534
522303,11,21,19,47,1,0,161,0.00,1003.0,227.558244
435563,9,28,20,39,3,0,249,0.00,425.0,292.409340
443979,10,4,2,40,2,0,158,0.00,59.0,103.605798
110663,3,10,19,10,4,0,202,0.00,1.0,282.140718
111677,3,11,10,10,5,1,234,0.00,480.0,205.654557
66829,2,11,13,6,5,1,142,0.00,707.0,184.626861
384701,8,28,5,35,0,0,233,0.00,35.0,149.124036
245729,6,2,19,22,4,0,163,0.00,646.0,260.200222
399789,9,6,15,36,2,0,4,0.00,19.0,130.577783
559114,12,14,16,50,3,0,263,0.00,286.0,267.294697
444309,10,4,7,40,2,0,144,0.00,58.0,136.375007
301135,7,7,6,27,4,0,158,0.00,52.0,151.020407
442795,10,3,8,40,1,0,239,0.00,478.0,186.616443
92692,2,27,15,9,0,0,143,0.00,209.0,193.257290
368860,8,18,9,33,4,0,127,0.09,2.0,156.646061
406005,9,10,11,36,6,1,231,0.00,268.0,208.488396
454770,10,10,19,41,1,0,164,0.00,446.0,234.241425
133793,3,25,4,12,5,1,244,0.00,10.0,158.439007
45797,1,29,11,4,6,1,153,0.00,1.0,175.967351
435621,9,28,21,39,3,0,233,0.00,258.0,292.324025
302574,7,8,4,27,5,1,13,0.00,5.0,41.244221
476042,10,24,1,43,1,0,45,0.00,10.0,26.597427
565783,12,18,20,51,0,0,152,0.00,7.0,224.570275
207773,5,10,5,19,2,0,43,0.00,23.0,75.834917
299008,7,5,22,27,2,0,233,0.00,137.0,305.132209
97331,3,2,12,9,3,0,209,0.00,17.0,226.660084
277501,6,22,13,25,3,0,233,0.00,224.0,235.423971
14491,1,10,0,2,1,0,107,0.00,195.0,68.631246
422136,9,20,12,38,2,0,153,0.00,1.0,177.161014
305534,7,10,0,28,0,0,87,0.00,22.0,43.290638
185866,4,26,14,17,2,0,48,0.00,324.0,146.457650
394286,9,3,4,35,6,1,238,0.00,21.0,158.510288
424209,9,21,19,38,3,0,144,0.00,253.0,233.871878
210061,5,11,15,19,3,0,90,0.00,270.0,184.598346
105763,3,7,18,10,1,0,158,0.00,177.0,235.540470
543562,12,5,0,49,1,0,238,0.00,49.0,118.557280
472419,10,21,19,42,5,1,13,0.00,177.0,151.643148
443477,10,3,19,40,1,0,41,0.00,58.0,174.612714
336480,7,29,6,30,5,1,43,0.00,28.0,65.549022
74751,2,16,11,7,3,0,202,0.00,0.0,212.063619
288071,6,29,3,26,3,0,161,0.00,48.0,117.352743
221101,5,18,12,20,3,0,12,0.00,16.0,119.244355
247545,6,3,22,22,5,1,209,0.00,50.0,286.301367
327371,7,23,14,29,6,1,50,0.00,125.0,140.505659
191299,4,29,23,17,5,1,87,0.00,165.0,227.815969
563834,12,17,15,50,6,1,141,0.00,445.0,188.053937
234364,5,26,17,21,4,0,262,0.00,170.0,288.063070
382900,8,27,2,34,6,1,246,0.00,293.0,140.603189
328290,7,24,3,30,0,0,237,0.05,11.0,139.541640
230252,5,24,4,21,2,0,163,0.02,33.0,124.313184
421125,9,19,21,38,1,0,142,0.00,579.0,237.785191
579987,12,27,16,52,2,0,152,0.00,16.0,201.490570
420382,9,19,10,38,1,0,125,0.00,86.0,141.651133
454151,10,10,10,41,1,0,127,0.00,1.0,143.972334
238234,5,29,3,22,0,0,224,0.04,7.0,134.347543
337591,7,29,22,30,5,1,194,0.00,3.0,268.891324
442532,10,3,4,40,1,0,261,0.00,6.0,165.833113
70588,2,13,21,7,0,0,158,0.00,162.0,253.047000
571507,12,22,9,51,4,0,261,0.00,48.0,213.820090
535069,11,29,18,48,2,0,45,0.00,32.0,164.518351
519494,11,20,1,47,0,0,170,0.00,41.0,83.263753
66047,2,11,1,6,5,1,231,0.00,312.0,133.845099
305500,7,9,23,27,6,1,209,0.00,17.0,296.608983
175160,4,19,22,16,2,0,116,0.00,13.0,246.592716
280360,6,24,8,25,5,1,144,0.00,50.0,135.429987
573438,12,23,14,51,5,1,231,0.00,185.0,217.620082
338168,7,30,7,30,6,1,107,0.00,108.0,111.203548
260662,6,12,2,24,0,0,144,0.00,31.0,88.804916
361796,8,13,23,32,6,1,249,0.00,212.0,313.789523
66459,2,11,7,6,5,1,246,0.00,49.0,189.162484
175663,4,20,5,16,3,0,236,0.02,92.0,177.651465
460614,10,14,10,41,5,1,236,0.00,654.0,194.381497
432716,9,27,2,39,2,0,142,0.00,36.0,89.770740
313141,7,14,17,28,4,0,229,0.00,324.0,272.078491
558681,12,14,10,50,3,0,152,0.00,6.0,163.692533
93243,2,27,23,9,0,0,202,0.00,0.0,286.629494
103843,3,6,13,10,0,0,243,0.00,3.0,232.979353
193499,5,1,8,18,0,0,24,0.00,90.0,81.396111
86033,2,23,12,8,3,0,42,0.00,18.0,137.314972
300147,7,6,15,27,3,0,233,0.00,170.0,254.899698
469258,10,19,19,42,3,0,237,0.00,1110.0,279.726863

In [35]:
predictions = reg.predict(X_test)
X_test_g = X_test.groupby(['month', 'day','hour','LocationID']).sum()
X_test_g.head(100)

                           HourlyPrecipitation
month day hour LocationID
1     1   0    125                         0.0
               128                         0.0
               141                         0.0
               202                         0.0
               231                         0.0
               232                         0.0
               236                         0.0
               24                          0.0
               244                         0.0
               263                         0.0
               48                          0.0
               50                          0.0
               79                          0.0
               87                          0.0
               88                          0.0
          1    12                          0.0
               127                         0.0
               141                         0.0
               152                         0.0
               158                         0.0
               209                         0.0
               234                         0.0
               237                         0.0
               4                           0.0
          2    128                         0.0
               153                         0.0
               161                         0.0
               211                         0.0
               239                         0.0
               262                         0.0
               45                          0.0
          3    142                         0.0
               163                         0.0
               164                         0.0
               170                         0.0
               202                         0.0
               209                         0.0
               211                         0.0
               229                         0.0
               231                         0.0
               234                         0.0
          4    107                         0.0
               114                         0.0
               116                         0.0
               120                         0.0
               128                         0.0
               141                         0.0
               142                         0.0
               151                         0.0
               224                         0.0
               230                         0.0
               232                         0.0
               236                         0.0
               237                         0.0
               243                         0.0
               246                         0.0
               48                          0.0
               74                          0.0
          5    114                         0.0
               128                         0.0
               143                         0.0
               148                         0.0
               151                         0.0
               158                         0.0
               246                         0.0
               261                         0.0
               4                           0.0
               50                          0.0
               68                          0.0
          6    103                         0.0
               142                         0.0
               152                         0.0
               153                         0.0
               158                         0.0
               163                         0.0
               164                         0.0
               209                         0.0
               211                         0.0
               231                         0.0
               232                         0.0
               236                         0.0
               237                         0.0
               243                         0.0
               249                         0.0
               263                         0.0
               42                          0.0
               74                          0.0
          7    103                         0.0
               120                         0.0
               137                         0.0
               140                         0.0
               143                         0.0
               148                         0.0
               151                         0.0
               209                         0.0
               211                         0.0
               230                         0.0
               233                         0.0
               238                         0.0
               4                           0.0

## Pack model with Pickle

In [28]:
import pickle
pickle.dump(reg,open('./model_reg_01.pickle','wb'))