## Scrape Precipitation forecast values from _wundergroung.com_

In this notebook I have developed and tested the code to scrape weather data from *wunderground.com*. Once the code was working nicely, I have implemented a function that I can run within the ``streamlit_app.py`` script.

I need the precipitation forecast to make the predictions.

www.wunderground.com seems to have some security feature which blocks known spider/bot user agents (like ```urllib``` used by python). I have tried it myself and I couldn´t get the page source. This makes sense because they want you to pay for their API.

If you don´t want to pay (like me) you have to simulate that you are accessing from a known browser user agent (i.e. Chrome).

This is why I use **Selenium WebDriver**. WebDriver drives a browser natively, as a user would.

REQUIREMENTS
- Install selenium ```!pip install selenium```
- Make sure that ```chromedriver.exe``` location matches with the one specified here:<br>
```driver = webdriver.Chrome(executable_path='./chromedriver.exe', options=options)```.  
If you have cloned the repository and run the Jupyter Notebook Server from the ``notebook`` folder, all relative paths should be fine.

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from datetime import date, timedelta
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Use .format(YYYY, M, D)
lookup_URL = 'https://www.wunderground.com/hourly/us/ny/new-york-city/date/{}-{}-{}.html'

options = webdriver.ChromeOptions();
options.add_argument('headless'); # to run chrome in the backbroung

driver = webdriver.Chrome(executable_path='./chromedriver.exe', options=options)

start_date = date.today() + pd.Timedelta(days=1)
end_date = date.today() + pd.Timedelta(days=4)

df_prep = pd.DataFrame()

while start_date != end_date:
    print('gathering data from: ', start_date)
    formatted_lookup_URL = lookup_URL.format(start_date.year,
                                             start_date.month,
                                             start_date.day)
    
    driver.get(formatted_lookup_URL)
    rows = WebDriverWait(driver, 60).until(EC.visibility_of_all_elements_located((By.XPATH, '//td[@class="mat-cell cdk-cell cdk-column-liquidPrecipitation mat-column-liquidPrecipitation ng-star-inserted"]')))
    for row in rows:
        prep = row.find_element_by_xpath('.//span[@class="wu-value wu-value-to"]').text
        # append new row to table
        df_prep = df_prep.append(pd.DataFrame({"Day":[str(start_date.day)], 'Precipitation':[prep]}),
                                 ignore_index = True)
    
    start_date += timedelta(days=1)
df_prep

gathering data from:  2020-07-29
gathering data from:  2020-07-30
gathering data from:  2020-07-31

   Day Precipitation
0   29             0
1   29             0
2   29             0
3   29             0
4   29             0
5   29             0
6   29             0
7   29             0
8   29             0
9   29             0
10  29             0
11  29             0
12  29             0
13  29             0
14  29             0
15  29             0
16  29             0
17  29             0
18  29             0
19  29             0
20  29             0
21  29             0
22  29             0
23  29             0
24  30             0
25  30             0
26  30             0
27  30             0
28  30             0
29  30             0
30  30             0
31  30             0
32  30             0
33  30             0
34  30             0
35  30             0
36  30             0
37  30             0
38  30             0
39  30             0
40  30             0
41  30             0
42  30             0
43  30             0
44  30             0
45  30             0
46  30             0
47  30             0
48  31             0
49  31             0
50  31             0
51  31             0
52  31             0
53  31             0
54  31             0
55  31             0
56  31             0
57  31             0
58  31             0
59  31             0
60  31             0
61  31             0
62  31             0
63  31             0
64  31             0
65  31             0
66  31             0
67  31             0
68  31             0
69  31             0
70  31             0
71  31             0

In [30]:
# Convert script into function

def scrape_data(today, days_in):
    # import libraries
    import numpy as np
    import pandas as pd
    from datetime import date, timedelta
    from selenium import webdriver
    from selenium.webdriver.common.by import By
    from selenium.webdriver.support.ui import WebDriverWait
    from selenium.webdriver.support import expected_conditions as EC

    # Use .format(YYYY, M, D)
    lookup_URL = 'https://www.wunderground.com/hourly/us/ny/new-york-city/date/{}-{}-{}.html'

    options = webdriver.ChromeOptions();
    options.add_argument('headless'); # to run chrome in the backbroung

    driver = webdriver.Chrome(executable_path='./chromedriver.exe', options=options)

    start_date = today + pd.Timedelta(days=1)
    end_date = today + pd.Timedelta(days=days_in + 1)

    df_prep = pd.DataFrame()

    while start_date != end_date:
        timestamp = pd.Timestamp(str(date.today())+' 00:00:00')
        
        print('gathering data from: ', start_date)
        
        formatted_lookup_URL = lookup_URL.format(start_date.year,
                                                 start_date.month,
                                                 start_date.day)

        driver.get(formatted_lookup_URL)
        rows = WebDriverWait(driver, 60).until(EC.visibility_of_all_elements_located((By.XPATH, '//td[@class="mat-cell cdk-cell cdk-column-liquidPrecipitation mat-column-liquidPrecipitation ng-star-inserted"]')))
        for row in rows:
            hour = timestamp.strftime('%H')
            prep = row.find_element_by_xpath('.//span[@class="wu-value wu-value-to"]').text
            # append new row to table
            df_prep = df_prep.append(pd.DataFrame({"dayhour":[str(start_date.day)+hour], 'Precipitation':[prep]}),
                                     ignore_index = True)
            
            timestamp += pd.Timedelta('1 hour')

        start_date += timedelta(days=1)
    return df_prep

In [33]:
# test the function
from datetime import date, timedelta
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

d = scrape_data(date.today(), 2)
d

gathering data from:  2020-07-29
gathering data from:  2020-07-30

   dayhour Precipitation
0     2900             0
1     2901             0
2     2902             0
3     2903             0
4     2904             0
5     2905             0
6     2906             0
7     2907             0
8     2908             0
9     2909             0
10    2910             0
11    2911             0
12    2912             0
13    2913             0
14    2914             0
15    2915             0
16    2916             0
17    2917             0
18    2918             0
19    2919             0
20    2920             0
21    2921             0
22    2922             0
23    2923             0
24    3000             0
25    3001             0
26    3002             0
27    3003             0
28    3004             0
29    3005             0
30    3006             0
31    3007             0
32    3008             0
33    3009             0
34    3010             0
35    3011             0
36    3012             0
37    3013             0
38    3014             0
39    3015             0
40    3016             0
41    3017             0
42    3018             0
43    3019             0
44    3020             0
45    3021             0
46    3022             0
47    3023             0